@charset "UTF-8";

:root {
    --cor0: #c4a47c;
    --cor1: #fff;
    --cor2: #000;
    --cor3: #604829;
    --cor4: #666;
    --cor5: #ACACAC;

    --fonte0: 'Oswald', sans-serif;
    --fonte1: 'Fraunces', serif;
    --fonte2: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body { overflow-x: hidden; }

header {
    width: 100%;
    padding: 0px 15px;
    background-color: var(--cor3);
    position: fixed;
}

header div {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {
    width: 100px;
}

header a {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--fonte0);
    color: var(--cor0);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #000;
    padding: 0px 10px;

}

main {
    width: 100%;
    margin: auto;
}

.container-imagem {
    width: 100%;
    height: 800px;
    padding: 40px 0px;
    background-size: cover;
    background-attachment: fixed;
}

.container-imagem h3 {
    font-family: var(--fonte1);
    font-weight: 300;
    font-size: 20px;
    color: var(--cor1);
    font-style: italic;
    letter-spacing: 2px;
    background-color: var(--cor3);
    padding: 5px 20px;
}

.secao-banner {
    background-image: url(./assets/parallax-imagem1.png);
    background-position: center;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-banner h1 {
    color: var(--cor1);
    font-size: 78px;
    font-family: var(--fonte1);
}

.container-texto {
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: var(--cor1);
    padding: 100px 20px;
}

.container-texto h2 {
    font-family: var(--fonte0);
    color: var(--cor0);
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px 0px;
}

.container-texto p {
    font-family: var(--fonte2);
    color: var(--cor4);
    text-align: center;
    font-size: 17px;
    line-height: 33px;
    padding-bottom: 40px;
}

.container-imagem#imagem1 {
    height: 350px;
    background-image: url(./assets/parallax-imagem2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-imagem#imagem2 {
    height: 300px;
    background-image: url(./assets/parallax-imagem3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-contatos {
    width: 100%;
    height: 800px;
    padding: 100px 20px;
    margin-top: 60px;
    background-size: cover;
    background-attachment: fixed;
}

.secao-contatos#contato {
    background-image: url(./assets/parallax-imagem4.png);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secao-contatos#contato > h2 {
    width: 400px;
    color: var(--cor1);
    font-family: var(--fonte0);
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 50px;
    padding: 5px 30px;
    background-color: var(--cor3);
}

.secao-contatos > .box-contatos {
    width: 400px;
    background-color: var(--cor3);
    padding: 10px 40px;
    margin-top: 50px;
}

.box-contatos > p {
    color: var(--cor1);
    font-family: var(--fonte0);
    text-align: center;
    text-shadow: 3px 3px 5px #000;
    line-height: 30px;
}

.secao-horarios {
    width: 100%;
    padding: 100px 20px;
    background-image: url(./assets/cafeteria.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-horarios h2 {
    font-family: var(--fonte0);
    color: var(--cor1);
    font-size: 20px;
    letter-spacing: 8px;
    padding: 30px 0px;
}

.horarios {
    width: 100%;
    max-width: 800px;
}

.horarios li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.horarios h3 {
    color: var(--cor1);
    flex: 0 1 80px;
    font-family: var(--fonte0);
}

.horarios li div {
    height: 1px;
    background-color: var(--cor5);
    flex: 1 1 auto;
}

.horarios li span, p {
    font-size: 15px;
    flex: 0 1 100px;
    text-align: right;
}

.horarios li span {
    color: var(--cor0);
    font-family: var(--fonte0);
    font-weight: 600;
}

.horarios li p {
    color: var(--cor1);
    font-family: var(--fonte0);
}

.botao-fixo {
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

footer {
    width: 100%;
    padding: 50px 10px;
    background-color: var(--cor2);
}

footer p, span {
    font-family: var(--fonte2);
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 2px;
}

footer p {
    color: var(--cor1);
}

footer span {
    color: var(--cor0);
}